/*.container-input{
    border: 1px solid black;
}
*/

.ínput-name{
    padding: 15px;
    border-radius: 50px;
    width: 350px;
    border: 0px;
}

input{
    margin-bottom: 40px;
}

::placeholder{
    font-family: 'Poppins';
}