.container-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 100vh;
    
    
  background-color: #26c485;
}

/*.sign-title{
    border: 1px solid black;
}*/